@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

.Slidebar {
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 365px;
    position: fixed;
}

.profile_section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile_photo {
    margin-bottom: 16px;
}

.profile_list {
    display: flex;
    justify-content: space-around;
}

.social_media ul li {
    padding: 8px 10px;
    background: #FFB400;
    border-radius: 50%;
}

.name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 143.6%;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2B2B2B;
}

.profession {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #767676;
}

.profile_info {
    display: flex;
    gap: 50px;
}

.titles h2 {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #2B2B2B;
    padding: 5px;
    background: #FFB400;
    width: 100%;
}

.infos h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #2B2B2B;
    padding: 5px 7px;
}

.titles,
.infos {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.skills {
    width: 100%;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.skill_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2B2B2B;

}

.skills-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skills_item {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.progres {
    height: 5px;
    background: #FFB400;
    border-radius: 3px;
    margin-bottom: 25px;
    border: 1px solid #7676765b;
}

.skill_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #767676;

}

.extraskills {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.Extra {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #2B2B2B;
}

.extraskill_items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.extraskill_item {
    display: flex;
    gap: 15px;
}

.extraskill_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #767676;
}

.downloadsvg {
    background: #FFB400;
    width:220px;
    height:40px;
    border: none;
}

.ccc {
    margin-left: 5px;
}