.Main {
    height: 150vh;
    grid-area: 1 / 3 / 2 / 9; 
    z-index: 9;
    width: 1632px;
    height: 918px;
}

.Main_section {
    background-image: url('../../assets/Her.png');
    width: 1632px;
    height: 918px;
    background-size: cover;
}