
h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    color: #e77d5d;
}

h2 {
  font-weight: 400;
}
